META-INF/com/google/android/update-binary
microG_Installer_Next.zip
microG_Installer_Revived.zip
.DS_Store
updater/.gradle
updater/build
updater/app/build
system/priv-app/microG/
system/product/priv-app/GmsCore/
system/priv-app/Phonesky/
system/product/priv-app/Phonesky/
system/priv-app/microGUpdater/*.apk
system/product/priv-app/microGUpdater/*.apk
